/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




@font-face {
    font-family: 'open_sans';
    src: url('fonts/fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-italic-webfont.eot');
    src: url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('fonts/opensans-italic-webfont.woff') format('woff'),
         url('fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-bolditalic-webfont.eot');
    src: url('fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}


/****************************** Elements****************************/
h3 {
  margin: 0;
}
html {
  font-family: "open_sans";
  /*font-size: 16px;*/
}
body {

}
header {
  background-image: url(images/birds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
	background-attachment: fixed;

}

h1,h2,h3 {
  font-weight: bold;
}
h1.centertext {
  display: block;
  font-size: 2.8rem;
  border-bottom:solid 1px #feaa3a;
  width:86%;
  margin: 0 auto;
  margin-top:7%;
  margin-bottom: 8px;
}

h2.centertext {
  font-weight: normal;
  font-size: 1.7rem;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 20%;
}
h2.caps.centertext {
  width: 90%;
  padding-bottom: 2%;
  margin-bottom: 3%;
  margin-top: 8%;
  font-weight: bold;
  border-bottom: solid 1px black;

}
h3.yellow {
  width: 100%;
  font-size: 1rem;
  margin-top: 5%;

}

section {
  width: 100%;
}

p {
  /*width: 100%;*/
  margin: 5% 0;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-top: 12vw;
  font-size: 4vw;
}
span {
  position: relative;
  top: 10vw;
}

h2.yellow {
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 3%;
}
h2.caps.white.centertext {
  padding-top: 8%;
  padding-bottom: 6%;
  border-bottom: solid white 1px;
  margin-bottom: 8%;
}
div.hello p {
  font-size: 87%
}
div.clearfix {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 5%;
}
div.clearfix a {
  color: #feaa3a;
  text-decoration: none;
}
div.connect {
  background-color: black;
}
div.education {
  margin-bottom: 10%;
}
}
p {
  line-height: 1.5;
}
div.jobdesc, div.jobdesc p {
  line-height: 1;
  margin: 1% auto;
  font-size: 0.9rem;
}
p.lefttext {
  line-height: 1.1;
}
p.lefttext + p.lefttext {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightGrey;
  padding-bottom: 5%;
}

p.small.white.caps {
  margin-bottom: 0;
  padding-bottom: 10%;
  text-align: center;
}
p.centertext {
  padding-top: 2%;
}
/*******************************Classes*****************************/
.center {
  margin: 0 auto;
}

.title {
  width: 80%;
}

.small {
  font-size: 0.6rem;
}


.clearfix {
  width: 100%;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
.caps {
  text-transform: uppercase;
}
.yellow {
  color: #feaa3a;
}

.centertext {
  text-align: center;
  width: 100%;
}
.lefttext {
  text-align: left;
  width: 90%;
  margin: 3% auto;
}


.jobdesc {
  width: 100%;
  margin: 20px auto;
}
.jobs {
  width: 100%;

  text-align: center;
}

.white {
  color: white;
}

.icons {
  margin: 20px auto;
}
.logo {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding-top: 18%;
  padding-bottom: 5%;
	max-width: 130px;

}

.hello {
  width: 90%;
}

.round {
  border-style: solid;
  border-color: #FBA93C;
  border-width: 3px;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  text-align: center;
  margin: 10px;
  float: left;

}

.birds {
  width: 100%;

}

.skills {
  width: 100%;
}

/*******************************IDs*********************************/

#skills {
  color: white;
  font-weight: normal;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  padding-top: 10%;
}

#contact {
  width: 50%;
  margin: 10px auto;
}

#clouds {
  background-image: url(images/clouds.jpg);
  background-size: cover;
  background-repeat: repeat;
	background-attachment: fixed;
  z-index: 1;
}
#face {
  padding-top:8%;
  padding-bottom: 2%;
}

@media only screen and (min-width: 768px) {
	.logo {
		padding-top: 6%;
		padding-bottom: 3%;
	}
	h2.centertext {
		margin-bottom: 6%;
	}
	h1.centertext {
		margin-top: 2%;
	}
	div.headshot {
		width: 40%;
		height: 200px;
		float: left;
		margin: 0 auto;
	}
	div.hello.center.centertext {
		width: 60%;
		text-align: left;
		margin: 0;
		float: right;
	}
	img#face.logo {
		margin: 0 auto;
		margin-top: 10px;
		width: 100%;
	}
	div.clearfix {
		padding-top: 3%;
		padding-bottom: 3%;
	}
	div.jobdesc {
		width: 28%;
		margin: 0;
		margin-left: 6%;
		display: inline-block;
	}
	#secondjobdesc {
		margin-top: 8%;
	}
	p.lefttext {
		width: 60%;
		margin: 0;
		float: right;
	}
	p.lefttext + p.lefttext {
		border: none;
	}
	#secondlefttext {
		position: relative;
		bottom: 60px;
    border-top: 1px solid black;
    padding-top: 10px;
	}
	#secondjobdesc > .yellow {
		border-top: 1px solid black;
		line-height: 1.5;
	}
	.jobs {
		text-align: left;
	}
	.work {
		height: 300px;
		margin-bottom: 3%;
	}
	h2#skills {
		padding-top: 2%;
		margin-top: 0;
	}
	.round {
		height: 12.5vw;
		width: 12.5vw;
		font-size: 100%;
	}
	span {
		top: 46px;
	}
	div.education {
		text-align: left;
	}
	div.education > h2.caps.centertext {
		text-align: left;
	}
	div.education > p.lefttext {
		float: none;
		width: 85%;
		margin-left: 6%;
		margin-top: 1%;
		line-height: 1.2;
	}
	div.jobdesc > p.centertext {
		text-align: left;
	}
	div.jobdesc > h3.yellow.centertext {
		text-align: left;
	}
	li:first-of-type {
		margin-left: 4%;
	}
	div#contact {
		margin: 0;
	}
	p.caps.centertext.white {
		margin: 0.5% 0;
		margin-left: 28%;
		text-align: left;
	}
	p.centertext.yellow.caps {
		margin-bottom: 0.5%;
	}
	p.small.white.caps {
		text-align: left;
		width: 72%;
		margin: 0;
		padding-bottom: 3%;
		margin: 0 auto;
	}
	div.icons {
		text-align: right;
		width: 85%;
		position: relative;
		bottom: 120px;

	}

}
